.pagination {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-8);
  padding-left: 0;
  padding-right: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.nav > div:first-child {
  margin-right: var(--space-8);
}

.nav div a {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.info {
  margin-bottom: var(--space-4);
}

@media (min-width: 549px) {
  .pagination {
    flex-direction: unset;
    padding: var(--space-2);
  }

  .info {
    margin-bottom: unset;
  }
}
