.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-8);
  padding: var(--space-2);
}

.nav {
  display: flex;
  align-items: center;
}

.nav > div:first-child {
  margin-right: var(--space-8);
}

.nav div a {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

@media (max-width: 549px) {
  .pagination {
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;
  }

  .info {
    margin-bottom: var(--space-4);
  }
}
