.root {
  display: flex;
  flex-flow: column wrap;
}

.wrapperContainer {
  margin: 0 auto;
}

.cardComponent {
  background-color: var(--colors-white);
  box-shadow: var(--box-shadow-xl);
  border-radius: var(--rounded-lg);
  transition: all 250ms ease-in-out;
  cursor: pointer;
  padding: var(--space-8);
  float: left;
  margin: var(--space-4);
}

.cardComponent:nth-child(3n + 1) {
  clear: both;
}

.cardComponent:hover {
  scale: 1.03;
}

.cardImage {
  position: relative;
  width: var(--space-80);
  height: var(--space-80);
  margin: 0 auto;
}

.cardComponent img {
  object-fit: contain;
}

.productList {
  display: grid;
  grid-template-columns: 1fr;
  margin: var(--space-20) 0;
}

@media (min-width: 767px) {
  .productList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (-width: 1280px) {
  .productList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}