.root {
  display: "flex";
  flex-flow: "column wrap";
}

.wrapperContainer {
  margin: 0 auto;
}

.cardComponent {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  padding: 2rem;
  float: left;
  max-width: calc(33.33% - 2rem);
  margin: 1rem;
}

.cardComponent:nth-child(3n + 1) {
  clear: both;
}

.cardComponent:hover {
  scale: 1.03;
}

.cardImage {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}

.cardComponent img {
  object-fit: contain;
}

.productList {
  margin: "5rem 0";
}

@media (max-width: 767px) {
  .productList {
    grid-template-columns: 1fr;
  }
}
