.card {
  display: flex;
  gap: 3rem;
  margin-top: 10rem;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  padding: 5rem;
}

.image {
  position: relative;
  width: 25rem;
  height: 25rem;
  flex: 1;
}

.image img {
  object-fit: contain;
}

.detail {
  flex: 2;
}
