.card {
  display: flex;
  gap: var(--space-12);
  margin-top: var(--space-40);
  align-items: center;
  box-shadow: var(--box-shadow-xl);
  border-radius: var(--rounded-lg);
  padding: var(--space-20);
}

.image {
  position: relative;
  width: var(--space-100);
  height: var(--space-100);
  flex: 1;
}

.image img {
  object-fit: contain;
}

.detail {
  flex: 2;
}
